* {
  box-sizing: border-box;
  margin: 0;
}

body, html  {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../images/usaMap.png);
  background-size: 100%;
  background-attachment: fixed;
}

#center-gif {
  margin-top: 10px;
  text-align: center;
}

h3 {
  font-family: 'Francois One', sans-serif;
  text-align: center;
}

#loss,
#win {
font-size: 24px;
text-align: center;

}

#title {
  margin-top: 20%;
  margin-bottom: 100px;
  text-align: center;
  font-size: 30px;
  font-family: 'Francois One', sans-serif;
  color: #66001a;
}

#startButton {
  margin-left: 25%;
  color: black;
  width: 50%;
  background-color: beige;
}

.guessButton {
  margin-left: 10%;
  color: black;
  width: 80%;
  background-color: beige;
  height: 50px;
  margin-bottom: 20px;
  text-align: left;
}
.guessButton:hover {
  background-color: #00664d;
}
.guessLetter {
  margin-left: 20px;
}
#question {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-family: 'Francois One', sans-serif;
}

#timer {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  color: black;
}
#wrongAnswer {
  text-align: center;
  font-size: 18px;
   font-weight: bold;
  color: black;
  font-family: 'Francois One', sans-serif;
}
#feedback,
#yesNo {
  text-align: center;
  font-size: 24px;
  margin-top: 25px;
  font-weight: bold;
  color: black;
  font-family: 'Francois One', sans-serif;
}

#start,
#game4,
#game3,
#game2,
#game1 {
 margin:auto;
 margin-top: 60px;
 margin-left: 80px;
 width:780px;
 height:480px;
 background: rgba(50, 105, 70, 0.5);
 position:absolute;
} 
 
 #stats {
  margin-top: 130px;
  font-family: 'Francois One', sans-serif;
  font-size: 24px;
  text-align: center;
  color: black;
 }

 #restartButton {
  font-size: 12px;
  font-family: BlinkMacSystemFont;
 }

.questionText {
  font-size: 27px;
  color: white;
  font-family: 'Francois One', sans-serif;
}

#btw {
  margin-top: 100px;
  text-align: center;
  font-size: 26px;
  color: black;
  padding: 10px;
  font-family: 'Francois One', sans-serif;
}
#feedback {
  color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Francois One', sans-serif;
}